<html>

<body>
<h1> New item for {{restaurant_name}} </h1>

<form action="#" method = 'post'>
<p> Name:</p>
	
<input type ='text' size ='30'>
<p> Description:</p>
	
<input type ='text' size ='30'>
<p> Price:</p>
	
<input type ='text' size ='30'>
<p> Course:</p>
<input type="radio" name="app" value="app" > Appetizer
<br>
<input type="radio" name="entree" value="entree" > Entree
<br>
<input type="radio" name="dessert" value="dessert" > Dessert
<br>
<input type="radio" name="beverage" value="beverage" > Beverage

<br>
		
	<input type='submit' value='Create'>
	</br>
	<a href = '#'> Cancel </a>
	
</form>
</body>

</html>